/* Add your code here */
body{
    background-color: #0173a0;
}
#bold{
    font-weight: bold;
}
label{
    margin-left: 2%;
  
}
legend{
    font-size: 30px;
}
input[type="text"]{
    width: 35em;
    margin-left:2%;
}
select{
    margin-top: 1%;
    margin-left: 2%;
    width: 35em;
}
input[type="email"]{
    width: 35em;
    margin-left:2%;
}
input:required:focus{
    border:1px solid red;
    outline: none;
}
textarea{
    margin-left: 2%;
    border-radius: 4.5px;
}
input[type="submit"]:hover{
    background-color: #0173a0;
    color: white;
}
input[type="reset"]:hover{
    background-color: #0173a0;
    color: white;
}
input[type="submit"]{
    width: 17.5em;
    margin-left: 2%;
    height: 2.5em;
    font-weight: bold;
}
input[type='reset']{
    width: 17.5em;
    margin-left: 1%;
    height: 2.5em;
    font-weight: bold;
}
legend{
    font-size: medium;
    font-weight: bold;
}
div{
    padding: 40px;
}
fieldset {
    border: 0;
    margin-left: -2%;
}
span{
    font-weight: 100;
    color:#0173a0;
}
form{
    display: inline-block;
    margin-left: 30%;
    width: 500PX;
    align-content: center;
    background-color: white;
}
label{
    font-size: small;
}
h1{
    text-align: center;
    font-weight: bold;
    color: #0173a0;
}
@media (min-width:200px) and (max-width:786px){
  h1{
    font-size: 1em;
  } 
  .area{
      width: 96%;
  }
  input[type="submit"] {
    width: 14em;
    margin-left: 2%;
    height: 2.5em;
    font-weight: bold;
}
input[type="reset"] {
    width: 14em;
    margin-left: 2%;
    height: 2.5em;
    font-weight: bold;
}
  legend {
    font-size: 13px;
    font-weight: bold;
} /* Add your code here */
form{
    margin-left: 3%;
    width: 400px;
}
input[type="text"] {
    width: 29em;
}
input[type="email"]{
    margin-top: 1%;
    width: 29em;
}
select{
    width: 29em;
}
}