/* Add your code here */
body{
    background-color: #0173a0;
}
form{
    border-radius: 4.5px;
}
label{
    margin-left: 2%;
  
}
legend{
    font-size: 30px;
}
input[type="text"]{
    width: 25em;
    margin-left:2%;
}
select{
    margin-left: 2%;
    width: 25em;
}
input[type="email"]{
    width: 25em;
    margin-left:2%;
}
input:required:focus{
    border:1px solid red;
    outline: none;
}
textarea{
    margin-left: 2%;
    border-radius: 4.5px;
}
input[type="submit"]:hover{
    background-color: #0173a0;
    color: white;
}
input[type="reset"]:hover{
    background-color: #0173a0;
    color: white;
}
input[type="submit"]{
    width: 13em;
    margin-left: 2%;
    height: 2.5em;
    font-weight: bold;
}
input[type='reset']{
    width: 13em;
    margin-left: 2%;
    height: 2.5em;
    font-weight: bold;
}
div{
    padding: 40px;
}
span{
    font-weight: 100;
    color:#0173a0;
}
form{
    width: 400px;
    margin-left: 35%;
    align-content: center;
    background-color: white;
}
label{
    font-weight: bold;
}
h1{
    text-align: center;
    font-weight: bold;
    color: #0173a0;
}