/* Code for exercise 02-navbar */
@media (min-width:100px) and (max-width:768px) {
    
    nav>ul{
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
     
    }
    a{
        margin: auto;
    }
    body{
        margin: 0px;
    }
    ul>li:not(.active):hover{
        background-color: teal;
        overflow: auto;
        display: block;
        flex-wrap: wrap;
     
    }
    .active{
        background-color: teal;
        display: block;
      
    }
    ul{
        overflow: auto;
        display: flex;
        align-content: space-evenly;
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
}
nav{
    background-color:rgb(25, 59, 59);
    flex-direction: row;
    overflow: auto;
}
body{
    margin: 0px;
}
ul>li:hover{
    background-color: teal;
    overflow: auto;
    display: block;
 
}
.active{
    background-color: teal;
    padding: 10px;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
    margin: auto;
}
 li:not(.active){
        padding: 10px;
    }

/* Code for exercise 03-flex */

/* Code for exercise 04-grid */

/* Code for exercise 05-calendar */

/* Code for exercise 06-bootstrap-grid */
